page-notificaciones {

  .back-button {
    color: white;
  }

  .toolbar-background{
    background-color: #7F171F;
  }

  .toolbar-title{
    color: white;

  }

  .nav-buttons{
    color: white;
  }
}
